body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 10px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}