body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 10px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
}

.card-img {
    border: 2px solid blue;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}