:root {
    --color-accent: #1F2937;
    --color-accent-text: #ffffff;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --hero-btn-color: #3882F6;
    --card-section-header: #1F2937;
    --quote-section-bg: #E5E7EB;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: var(--color-accent);
    color: white;  
}

.header-content {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.header-title h3 {
    font-size: 24px;
    color: var(--hero-secondary-text);
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

ul {
    list-style: none;
}

a {
    color: var(--hero-secondary-text);
    text-decoration: none;
}

.hero-section {
    background-color: var(--color-accent);
    padding-bottom: 4rem;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-accent-text);
    gap: 4rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.hero-text h1 {
    font-size: 48px;
    color: var(--hero-main-text);
    font-weight: 900;
}

.hero-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: var(--hero-secondary-text);
    font-size: 18px;
}

.hero-btn {
    background-color: var(--hero-btn-color);
    color: var(--color-accent-text);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 30px;
    max-width: 150px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 250px;
    background-color: gray;
}

.hero-img p {
    text-align: center;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.card-section h2 {
    font-size: 36px;
    color: var(--card-section-header);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
}

.card-img {
    border: 2px solid blue;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.quote-section {
    background-color: var(--hero-secondary-text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem 2rem;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: var(--color-accent);
    font-style: italic;
    height: auto;
}

.citation {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-end;
}

.cta-section {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.cta-box {
    background-color: var(--hero-btn-color);
    color: var(--color-accent-text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
    border-radius: 10px;
    gap: 3rem;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-text h3 {
    font-size: 24px;
}

.cta-btn {
    background-color: var(--hero-btn-color);
    color: var(--color-accent-text);
    border: 2px solid var(--color-accent-text);
    border-radius: 5px;
    padding: .5rem 2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    color: var(--quote-section-bg);
    padding: 2rem 0;
}